<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="labnbill/styles/test.css">
  <link rel="stylesheet" href="css/angular-material.css">
  <link rel="stylesheet" href="labnbill/styles/main.css">
  <!-- endbuild -->
</head>

<body ng-app="swecApp" onresize="screenResized()" ng-init="screenResized()" ng-controller="mainindexCtrl">
  <base href="/SWEC_Dev/"></base>
  <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <!-- Add your site or application content here -->
  <!-- Add your site or application content here -->
  <div class="navbarColr" role="navigation" style="width:100%;top:0;left:0;">
    <h1 class="topTitle" style="opacity: 0.9" ng-hide="loggedInpatientDetail===null || loggedInpatientDetail===undefined" ng-cloak>{{loggedInpatientDetail.patient_name}} | {{correctAge(loggedInpatientDetail.patient_age)}} | {{loggedInpatientDetail.gender}}
      <div style="background:linear-gradient(to bottom, #98c9e8 0%,#5b9bc1 100%); display:inline-block; padding: 1px 18px;border-radius: 20px;margin-left: 30px;"> <a><img src="images/logout3.png" ng-click="goPatientPage()" style="width:30px;height:35px;outline:none;"></a> </div>
    </h1>
    <div class="navbarHight"> <img style="height: 79px;" src="images/logo.png" class="img-responsive"> </div>
  </div>
  <div ng-view="" id="ngView" style="background:linear-gradient(to right, rgb(56, 117, 164) -6%, rgb(48, 150, 184) 60%) !important;"></div>
  <div style="position:fixed;background-color:rgba(255,255,255,0.8);height:100%;width:100%;top:0;left:0;display:flex;justify-content:center" ng-if="waitingPopup"> <img style="position:absolute;margin:350px auto;" src="images/wait_spinner.gif" /> </div>
  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/bootstrap.min.js"></script>
  <script src="scripts/angular.min.js"></script>
  <script src="scripts/angular-route.min.js"></script>
  <!-- endbuild -->
  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/base64.js"></script>
  <script src="labnbill/controllers/mainindexCtrl.js"></script>
  <script src="labnbill/controllers/main.js"></script>
  <script src="labnbill/controllers/test.js"></script>
  <script src="labnbill/controllers/bill.js"></script>
  <script src="labnbill/controllers/preview.js"></script>
  <script src="labnbill/controllers/userLogin.js"></script>
  <script src="labnbill/controllers/calendar.js"></script>
  <script src="labnbill/controllers/patientLoginCtrl.js"></script>
  <script src="external/controllers/external.js"></script>
  <script src="scripts/angular-animate.min.js"></script>
  <script src="scripts/angular-material.js"></script>
  <script src="scripts/angular-messages.min.js"></script>
  <script src="scripts/angular-idle.min.js"></script>
  <script src="scripts/angular-idle.min.js"></script>
  <script src="scripts/svg-assets-cache.js"></script>
  <script src="scripts/angular-aria.min.js"></script>
  <script src="labnbill/directives/compile.js"></script>
  <script src="labnbill/directives/calendarMd.js"></script>
  <script src="labnbill/services/materialCalendar.Calendar.js"></script>
  <script src="labnbill/services/materialCalendarData.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
</body>

</html>