@font-face {
 font-family: 'RobotoCondensed-Regular';
 src: url(../../fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
 font-family: 'Roboto-Regular';
 src: url(../../fonts/Roboto-Regular.ttf);
}
@font-face {
 font-family: 'Roboto-Medium';
 src: url(../../fonts/Roboto-Medium.ttf);
}


@font-face {
 font-family: 'Roboto-Light';
 src: url(../../fonts/Roboto-Light.ttf);
}

@font-face {
 font-family: 'DroidSans-Regular';
 src: url(../../fonts/DroidSans.ttf);
}


.fontFamily {
   font-family: 'RobotoCondensed-Regular'; 
}

body {
    font-family: 'RobotoCondensed-Regular';
      padding: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3875a4+0,3096b8+100 */
background: #3875a4 !important; /* Old browsers */
background: -moz-linear-gradient(left,  rgb(56, 117, 164) -6%, rgb(48, 150, 184) 60%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgb(56, 117, 164) -6%, rgb(48, 150, 184) 60%) !important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgb(56, 117, 164) -6%, rgb(48, 150, 184) 60%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875a4', endColorstr='#3096b8',GradientType=1 );*/ /* IE6-9 */
}

.viewHeightMain {
    height: auto;
    margin: 0 auto;
    max-width: 850px;
}
.navbarHight {
    border: medium none;
    padding: 10px 15px;
    width: auto;
}

.navbarColr{
    border: 0;
    border-radius: 0px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e3eef4+1,165c80+25,165c80+91,0a879a+100 */
background: #e3eef4; /* Old browsers */
background: -moz-linear-gradient(left,  #e3eef4 11%, #165c80 26%, #165c80 91%, #0a879a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #e3eef4 11%,#165c80 26%,#165c80 91%,#0a879a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #e3eef4 11%,#165c80 26%,#165c80 91%,#0a879a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3eef4', endColorstr='#0a879a',GradientType=1 ); /* IE6-9 */

}

.navimgmargin {
    margin: 5px 0 0 20px;
}

.col-h-1{height: 8.33333333333333%;}
.col-h-2{height: 16.6666666666667%;}
.col-h-3{height: 25%;}
.col-h-4{height: 33.3333333333333%;}
.col-h-5{height: 41.6666666666667%;}
.col-h-6{height: 50%;}
.col-h-7{height: 58.3333333333333%;}
.col-h-8{height: 66.6666666666667%;}
.col-h-9{height: 75%;}
.col-h-10{height: 83.3333333333333%;}
.col-h-11{height: 91.6666666666667%;}
.col-h-12{height: 100%;}

.col-h-6 {
    height: 50%;
    margin-left: 5%;
}

.col-xs-12.col-h-6:nth-child(2) {
    margin-top: 3%;
}


.divLabandBill {
   border-radius: 20px;
    box-shadow: 10px 10px #285c86;
    height: 100%;
    margin-top: 2%;
    padding: 9% 0;
    text-align: center;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(rgb(255,255,255) 10%, rgb(209,238,251) 60%); 
    background: -o-radial-gradient(rgb(255,255,255) 10%, rgb(209,238,251) 60%);
    background: -moz-radial-gradient(rgb(255,255,255) 10%, rgb(209,238,251) 60%);
    background: radial-gradient(rgb(255,255,255) 10%, rgb(209,238,251) 60%);
    height:100%;
}

.botmimg1 {
    margin-top: 1%;
    text-align: center;
}
.panelBtnImg {
    margin: 0 auto;
   
}

.panelBtnP {
    color: #1e7cbb;
    text-align: center;
    font-size: 26px;
    padding-top: 15px;
	font-family: Roboto-Medium;
}

.popupBg {
    position: absolute;
    width: 100%;
	height: 100%;
    left: 0;
    top: 100px;
	background-color: #19415f;
    /*background-color: rgba(0,0,0,0.6);*/
    bottom: 0;
    text-align:center;
}

.popupfrLogin {
    
    width: 60%;
    background-color: #DCF1FD;
    border-radius: 10px;
    margin: 3% 20%;
    position: relative;
}

.popupCancel {
    background-color: #9DC0D5;
    float: right;
    height: 63px;
    width: 64px;
    text-align: center;
    border-radius: 0 6px 0 0;
    outline: none;
}
.popupCancelData {
    transform: rotate(45deg);
    font-size: 57px;
    padding: 0px 37px 22px 0px;
    color: #fff;   
}

.popfrloginInputdiv {
    text-align:center;
    padding: 80px 70px 40px;
}

.popupfrLoginInput {
    background-color: #3490CE;
    height: 84px;
    /* width: 607px; */
    border-radius: 10px;
    outline: none;
    /* margin-top: 120px; */
    font-size: 30px;
    color: #fff;
    margin-bottom: 60px;
	font-family: Roboto-Light;
}

.popupfrLoginInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.5);
	font-size: 27px;
	font-family: Roboto-Light;
}


.popupfrSkip {
    color: #7f7f7f;
    font-size: 30px;
    text-decoration: none !important;
    float: left;
	opacity: 0.7;
	font-family:DroidSans-Regular; 
}
.popupfrSkip:hover {
     text-decoration: none !important;
}

.popupfrbtn {
    float: right;
    padding: 13px 45px;
    border-radius: 50px;
    background-color: #E27805;
    background: linear-gradient(to right, #de7301 30%, #ff9525 93%) !important;
    outline: none;
    border: 0;
    color:  rgba(255,255,255, 0.7);
    font-size: 35px;
    box-shadow: 0px 6px #A35400;
    text-decoration: none;
    font-size: 35px;
    font-family: "DroidSans-Regular";
	
}
.popupfrbtn:hover {
    /*box-shadow: 0px 7px #A35400;*/
    box-shadow: 0px 2px #A35400;
    padding-top: 16px;       
}



.labhead{
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7bbde1+0,84c5e9+100 */
background: #7bbde1; /* Old browsers */
background: -moz-linear-gradient(left, #7bbde1 0%, #84c5e9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #7bbde1 0%,#84c5e9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #7bbde1 0%,#84c5e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bbde1', endColorstr='#84c5e9',GradientType=1 ); /* IE6-9 */
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.popfrloginInputdiv .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #AECCE7;
}
.popfrloginInputdiv .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #AECCE7;
}
.popfrloginInputdiv .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #AECCE7;
}
.popfrloginInputdiv .form-control:-moz-placeholder { /* Firefox 18- */
  color: #AECCE7;
}

.popfrloginInputdiv .form-control{padding-left: 30px;}

.box {
    background-color: #5180a1;
    
    border-radius: 10px;

   float: left;

   height: 260px;
   margin-bottom: 0.8%;
    margin-right: 1.5%;

   /* position: relative; */
   width: 32%;
    box-shadow: 0px 0px 10px 0px #486d87;
        overflow: hidden;
    /*font-family: "Roboto-Regular";*/
}
.datepickerdemoBasicUsage {
    margin-top: 1%;
}
.labprice {
    background: #628DAB;
    margin-top: 10px;
    padding: 10px 15px;
    /*position: absolute;*/
    bottom: 0;
    width:  100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.labhead h3 {
    color: #fff;
    margin: 0;
    padding: 10px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}
span.close1 {
    background: #fff;
}
.labcal {
    margin: 1px 0;
    padding: 0 15px;
}
.labprice {
    background: #628DAB;
    margin-top: 10px;
    padding: 10px 15px;
}

span.close {
    color: #fff;
    opacity: 1;
}

span.dotgreen {
    width: 15px;
    height: 15px;
    BORDER-RADIUS: 50%;
    background: #90e65c; /*#75C43F;*/
    display: block;
    float: left;
    margin-top: 10px;
}

span.dotyellow {
   width: 15px;
    height: 15px;
    BORDER-RADIUS: 50%;
    background: #C0CB6E;
    display: block;
    float: left;
    margin-top: 10px; 
}
.md-button.md-icon-button {
    border-radius: 50%;
    height: 36px;
    line-height: 24px;
    margin: 0 6px;
    min-width: 0;
    padding: 0 8px;
    width: 40px;
}
span.rupees {
    float: right;
    color: #fff;
}

.labcal h4 {
    color: #fff;
    float: left;
    margin: 0;
    padding: 5px;
    text-transform: capitalize;
}
.rupees {
    font-size: 24px;
}
.calendar {
    float: right;
}

.testProcedDiv {
    margin: 1% 0;
}
.testProced {
    float: left;
    border: 1px solid #4F83B1;
    border-radius: 15px;
    padding: 8px 15px;
   
}
.allrooms {
    
}
.testProced span {
    color: #fff;
    float: left;
    display: block;
}
button.greenDot {
    background: #75C43F none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    box-shadow: none;
    display: block;
    float: left;
    height: 15px;
    margin-left: 10px;
    margin-right: 12px;
    margin-top: 3px;
    width: 15px;
}
button.yellowDot {
    background: #c0cb6e none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    box-shadow: none;
    display: block;
    float: left;
    height: 15px;
    margin-left: 10px;
    margin-right: 12px;
    margin-top: 3px;
    width: 15px;
}

.totalPricediv {
    float: right;
    margin-right: 4%;
    color: #fff;
}
.navbarColr{z-index: 9;}
.totalPricediv span {
    font-size: 50px;
    margin-right: 10px;
    line-height: 50px;
}
md-icon {
    margin: auto;
    background-repeat: no-repeat no-repeat;
    display: inline-block;
    vertical-align: middle;
    fill: #fff;
    height: 24px;
    width: 24px;
    min-height: 24px;
    min-width: 24px;
}
.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    /*padding-bottom: 200px;*/ }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin-left: 15px; }

.md-default-theme .md-datepicker-input, .md-datepicker-input {
    color: #fff;
}
.md-default-theme .md-datepicker-calendar, .md-datepicker-calendar {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#23415c+0,23485c+14,23485c+14,284a69+49,136977+100 */
background: #23415c; /* Old browsers */
background: -moz-linear-gradient(45deg,  #23415c 0%, #23485c 14%, #23485c 14%, #284a69 49%, #136977 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #23415c 0%,#23485c 14%,#23485c 14%,#284a69 49%,#136977 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #23415c 0%,#23485c 14%,#23485c 14%,#284a69 49%,#136977 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23415c', endColorstr='#136977',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.md-default-theme .md-datepicker-input-mask-opaque, .md-datepicker-input-mask-opaque{ background: transparent; box-shadow: none;}
.md-calendar.md-default-theme, .md-calendar{  background: transparent;}
.md-default-theme .md-datepicker-open .md-datepicker-input-container, .md-datepicker-open .md-datepicker-input-container{ background: transparent;}
.md-whiteframe-1dp, .md-whiteframe-z1{box-shadow: none;}
.md-default-theme .md-datepicker-calendar-pane, .md-datepicker-calendar-pane {
    border-color: transparent;
}
.md-calendar.md-default-theme, .md-calendar {
    background: transparent;
    color: #fff;
}
.md-default-theme .md-calendar-day-header, .md-calendar-day-header {
    background: transparent;
    color: #5DA5BE;
}
.md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator{
    background: transparent;
    color: #fff;
    border-color: #D58B3A;
}
.md-calendar-date.md-focus .md-default-theme .md-calendar-date-selection-indicator, .md-calendar-date.md-focus  .md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date-selection-indicator, .md-calendar-date-selection-indicator{background: transparent; border: 1px solid transparent;}

.md-calendar-date.md-focus .md-default-theme .md-calendar-date-selection-indicator, .md-calendar-date.md-focus  .md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date-selection-indicator:hover, .md-calendar-date-selection-indicator:hover{background: transparent; border: 1px solid #D58B3A;}

.md-default-theme .md-datepicker-input-container, .md-datepicker-input-container{border: none}

.md-datepicker-input-container {
    border-bottom-style: none;
    border-bottom-width: 0px;
    color: #fff;
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    margin-right: 14px;
    position: relative;
    width: auto;
}


.md-datepicker-input {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    box-sizing: border-box;
    font-size: 18px;
    max-width: 290px;
    min-width: 105px;
    outline: medium none;
    padding: 0 0 5px;
    text-align: center;
    width: 100px;
}

//mayur css

.billlist{
    padding: 20px 100px 20px 0;
}
.billrow{
 background-color: rgba(255, 255, 255, 0.1); 
    padding:15px;
    border-radius:20px; 
    margin-bottom:4px;
}



.my-container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.heading div{
    display: inline-block;
    font-size: 20px;
    color: #fff;
    margin-top: 0%;
}

.column-2{
    width: 18%;
}

.column-6{
    width: 40%
}

.head-appoint{
    text-align: center;
}


.table-heading th{
    font-size: 15px;
    color: #fff;
}

.repeatdata{
    width: 100%;
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 5px;
   padding-left: 25px;
   padding-top: 25px;

}

.repeatdata div{
    display: inline-block;
    font-size: 20px;
    color: #fff;
    position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

input[type="reset"][disabled], input[type="submit"][disabled], html input[type="button"][disabled], button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.md-default-theme .md-calendar-date.md-calendar-date-today.md-calendar-date-disabled, .md-calendar-date.md-calendar-date-today.md-calendar-date-disabled {
    border: 1px solid #24a7e4;
    border-radius: 50%;
    color: #677c8f;
    display: block;
    height: 30px;
    padding-top: 13px;
    vertical-align: middle;
}

.butn-positionfrPreview {
    position: absolute;
    right: 200px;
    top: 265px;
}

.butn-positionfrPreviewLeft {
    position: absolute;
    left: 0px;
    top: 290px;
    outline: none;
}
.butn-positionfrPreviewright {
    position: absolute;
    right: 0px;
    top: 290px;
    outline: none;
}

.topTitle{
    float: right;
    margin-right: 75px;
    margin-top: 39px;
    color: #DAE1E7;
    font-size: 24px;
    font-family: "Roboto-Light";
    opacity: 0.8;
}

/*.md-calendar-date.md-calendar-date-disabled{
    border: 1px solid #AC4A44;
    border-radius: 50%;
    color: #677c8f;
    display: block;
    height: 30px;
    padding-top: 13px;
    vertical-align: middle;
    
}*/

.calstatusCommon {      
    height: 15px;       
    width: 15px;        
    border-radius: 50px;        
    float: left;        
    margin: 6px 7px 0 0;        
}       
.calStatus1 {       
    background: #b44841;        
}       
.calStatus2 {       
    background: #d68b39;     
}       
.calStatus3 {       
    background: #24a2dd;        
}       
.padding0 {     
    padding: 0;     
}



.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  
  border-left: 60px solid #136977;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent; 
  
  border-right:60px solid #284a69; 
}

.proc-preview{
    background-color: #638FAF;
}
.roboto{
    font-family:"Roboto-Regular";
}
.leftCalBracket{
    height: 20px;
    width:20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}




/*Vaibhav Keyboard*/
.key-board {
	float: left;
    height: 75%;
    left: 3%;
    position: relative;
    height: 75%;
    width: 250px;
}
.no-box {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    box-shadow: 2px 2px 5px #555;
    cursor: pointer;
    float: left;
    font-size: 40px;
    height: 70px;
    line-height: 66px;
    margin: 10px 10px 0 0;
    text-align: center;
    width: 70px;
}
.no-box:active{
    background-color: #9FE3AF;
}
.no-box-delete {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    box-shadow: 2px 2px 5px #555;
    cursor: pointer;
    float: left;
    font-size: 30px;
    height: 70px;
    line-height: 66px;
    margin: 10px 10px 0 0;
    text-align: center;
    width: 70px;
}
.no-box-delete:active{
    background-color: #FFAB36;
}
.no-box-clear {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    box-shadow: 2px 2px 5px #555;
    cursor: pointer;
    float: left;
    font-size: 30px;
    height: 70px;
    line-height: 60px;
    margin: 10px 10px 0 0;
    text-align: center;
    width: 70px;
}
.no-box-clear:active{
    background-color: #FF8787;
}
.virtualkeyboard{
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
}






.moreInPreview{
    background-color: transparent;
    font-family: "Roboto-Regular";
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 18px;
    float: right;
    right: 20px;
    position: relative;
    padding: 0 15px;
    outline:0;
    position: relative;
    bottom: 5px;
}
.moreInfoForTest{
    border-radius:20px; 
    background:transparent;
    color:#fff; 
    padding:4px 20px;
    color: #fff;
    font-size: 18px;
    outline: none;
    border: 1px solid lightgrey;
    float: right;
    margin-right: 10px;
}

.testInsideRoomContainer{
    padding:1px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.testInsideRoom{
    width:65%;
    font-size:18px;
    color:white;
    padding:0px 0 0 20px;
    float:left;
     white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.lineThrough{
    
    text-decoration: line-through;
}

.previewFlexContainer{
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    
    display: -webkit-flex;
    display: flex;
    min-height: 540px;
    max-height: 540px;
}

.boxBig{
    height:522px !important;
}

.billTestSel {
    
}

.billYesButton {
    height: 40px;
    width: 90px;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 20px;
    float: left;
    padding: 0 2px 0 9px;
    text-align: center;
    cursor: pointer;
    outline: none;
    margin-left: 45px;
}

.textYes {
    float: left;
    line-height: 36px;
    margin: 0 0 0 4px;
}

.indicatorYes {
    float: right;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid #fff;
    height: 34px;
    width: 34px;
    margin: 2px 0px 0 0; 
}


.billNoButton {
    height: 40px;
    width: 90px;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 20px;
    float: left;
    padding: 0 8px;
    cursor: pointer;
    outline: none;
}
.textNo {
    float: right;
    line-height: 36px;
    margin: 0 13px 0 0;
}
.indicatorNo {
    float: left;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #fff;
    height: 33px;
    width: 34px;
    margin: 2px 0 0 -6px;
}

.lineThrough{  
   text-decoration: line-through;
}

/* Alert Msg  */
.alertDiv {
    height:100%;
    Width:100%;
    position:fixed;
    background-color: rgba(255,255,255,.7);
    left: 0;
    top: 0;
    z-index: 99999; 
}
.alertSubDiv{
    color: #000;
    background-color: #FFF;
    margin: 290px 0 0 250px;
    position: absolute;
    width: 584px;
    border: 1px solid #f10707; /*#d43f3a;*/
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 15px 1px;
    z-index: 9999;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: alertBox;
    animation-duration: 5s; 
    animation-timing-function: ease-out;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes alertBox {
    0%   {margin-top:10px;}
    5%  {margin-top:290px;}
    50%  {margin-top:290px;}
    75%  {margin-top:290px;}
    100% {margin-top:290px;}
}
/* Standard syntax */
@keyframes alertBox {
    0%   {margin-top:0px;}
    5%  {margin-top:290px;}
    50%  {margin-top:290px;}
    75%  {margin-top:290px;}
    100% {margin-top:290px;}
}

.alertSubInsideDiv {
    display:flex;    
}

.alertDisplayNo{
    display: none;
}
.alertDisplay{
    display: block;
}

.alertRightSign {
    background-color: #d9534f;
    font-size: 32px;
    color: #fff;
}

.alertMsgDiv {
    font-size: 23px;
    margin: 20px 10px 10px 10px;
}

.alertMsgClose {
    font-size: 52px;
    color: #000;
    padding: 0 27px 0 0;
}

#okImage {
    width: 35px;
    margin-top: 21px;
}


/* calender Spinner*/
.mainSpinnerDiv {
    position: absolute;
    border-radius: 10px;
    z-index: 99999;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, rgba(35,65,92,0.5) 0%,rgba(35,72,92,0.5) 14%,rgba(35,72,92,0.5) 14%,rgba(40,74,105,0.5) 49%,rgba(19,105,119,0.5) 100%);
}

.spinnerImg {
    position:absolute;
    height:65px;
    margin:300px auto;
}

