@font-face {
 font-family: 'Roboto-Light';
 src: url(../../fonts/Roboto-Light.ttf);
}
@font-face {
 font-family: 'Roboto-Regular';
 src: url(../../fonts/Roboto-Regular.ttf);
}

.textFont {
    font-family: 'RobotoCondensed-Regular' !important;
}

.clearfix {
    clear: both;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.marginTop50 {
    margin-top: 50px;
    overflow-x: hidden;
}

.width15 {
    width: 15%;
}

.labBackgroundColor {
    background: #3379A3; 
    border-radius: 50px;
    padding: 11px 13px;
}

.labButtons {
    width: 43px;
    height: 43px;
    background-color: #DECD68;
    border-radius: 50px;
    border: none;
    font-size: 25px;
    margin-right: 17px;
    color: #fff;
    outline: none;
}
.labButtons:hover {
    background-color: red;
}

.labButtonsDeselect{
    background-color: #8EA382;
    color: #E8D76E;
    border: 1px solid #E8D76E;
}

.labButtonsSelect{
    background-color: #DECD68;  
    width: 250px;
    transition: all ease 0.4s;
    box-shadow: 0 2px #8EA382;
    color: #fff;
    border: none;
}

.labNameData {
    background-color: #8EA483;
    background-color: #8EA483;
    width: 250px;
    transition: all ease 0.2s;
    box-shadow: 0 2px #8EA382;
}
.labandTstProcRow {
    margin: 1px 0 10px 0;
}

.tstProcToggleExtrnalBgcolor {
    background-color: #2f89ac;
    border-radius: 50px;
    padding: 1px 7px;
}

 .tstProcToggleBgcolor  {
    background: #ffffff;
    border-radius: 50px;
    padding: 5px 6px 7px 6px;    
    margin: 5px 0;
    }
.widthcal {
    height: 375px;
    //overflow: auto;
    //table-layout: fixed;  
    width: auto;
}
.tstProcToggle {
    border: medium none;
    border-radius: 50px;
    box-shadow: 0 3px #259095;
    color: #fff;
    font-size: 21px;
    outline: medium none;
    padding: 8px 30px;
}

.tstProcToggleSelect {
    background: #05a6aa;
    background: -moz-linear-gradient(top, #05a6aa 1%, #14bb98 100%);
    background: -webkit-linear-gradient(top, #05a6aa 1%,#14bb98 100%);
    background: linear-gradient(to bottom, #05a6aa 1%,#14bb98 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05a6aa', endColorstr='#14bb98',GradientType=0 );
    
}

.tstProcToggleDeselect {
    color: #b5b5b5;
    background: transparent;
    box-shadow: 0 0 #fff;
}

.alphabetsData {
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 0 50px 50px 0;
    color: white;
    font-size: 26px;
    font-weight: lighter;
    letter-spacing: 7px;
    margin: 6px 5px 5px 0;
    outline: medium none;
    padding: 5px 26px 5px 16px;
    width: 100px;
	font-family:'Roboto-Light' !important;

}

.alphabetsDataSelected {
    background-color: #9cb9d1;
    box-shadow: 1px 4px 4px #294C6E !important;
}



.numbersData {
	font-family:'Roboto-Light' !important;
    color: white;
    border: 1px solid rgba(255,255,255,0.3);
    font-size: 26px;
    padding: 5px 0px;
    margin: 4px 0px 4px 0px;
    border-radius: 30px 0px 0px 30px;
    width: 87px;
    background-color: transparent;
    letter-spacing: 5px;
    font-weight: lighter;
    float: right;
    outline: none;
    padding-left: 11px;
    height: 52px;
}

.numbersDataSelected {
    background-color: #9DB6CF !important;
    box-shadow: 1px 4px 4px #294C6E !important;
}

#spanTestName {
    font-size: 22px;
    padding: 4px 30px;
	font-family: Roboto-Regular;
	color: #333333;
	
}

#spanLabName {
    color: #838689;
    font-size: 19px;
    padding: 4px 30px;
	font-family: Roboto-Light;
}

.testButton {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 1px 40px;
    margin: 10px;
    outline: none;
}
.testButtonSelected {
    background-color: #FFF4AA !important;
    border-radius: 20px;
    padding: 1px 40px;
    margin: 10px;
    outline: none;
}  

.testFilterPanel {
    padding: 10px;
}

.testsFilterData {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#376298+0,2f7ea9+100 */
background: rgb(55,98,152); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(55,98,152,1) 0%, rgba(47,126,169,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(55,98,152,1) 0%,rgba(47,126,169,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(55,98,152,1) 0%,rgba(47,126,169,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#376298', endColorstr='#2f7ea9',GradientType=0 ); /* IE6-9 */
    border-radius: 15px;
    border: 3px solid #45A1C3; /*#4891B9;*/
    overflow: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.bootomDiv {
    border-top: 3px solid #669ec0;
    color: #fff;
    font-size: 35px;
    margin-top: 1%;
    padding-top: 2%;
    text-align: center;
}

.backButton {
    padding: 10px 40px;
    border-radius: 50px;
    float: left;
    margin: 0px 0 0 40px;
    box-shadow: 0px 5px #1F4361;
    border: none;
    outline: none;
    font-size: 45px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#98c9e8+0,5b9bc1+100 */
background: #98c9e8; /* Old browsers */
background: -moz-linear-gradient(top,  #98c9e8 0%, #5b9bc1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #98c9e8 0%,#5b9bc1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #98c9e8 0%,#5b9bc1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98c9e8', endColorstr='#5b9bc1',GradientType=0 ); /* IE6-9 */

}

.NextButton {
    padding: 10px 40px;
    border-radius: 50px;
    float: right;
    margin: 0px 40px 0 0;
    box-shadow: 0px 5px #A35400;
    border: none;
    outline: none;
    font-size: 45px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#de7301+0,fe9524+100 */
background: #de7301; /* Old browsers */
background: -moz-linear-gradient(top,  #de7301 0%, #fe9524 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #de7301 0%,#fe9524 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #de7301 0%,#fe9524 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de7301', endColorstr='#fe9524',GradientType=0 ); /* IE6-9 */

}

.BlurButton {
    color: #fff;
    font-size: 52px;
    background-color: rgba(49,141,177, 0.2);
    opacity: 0.4;
    padding: 30px 27px 30px 40px;
    border-radius: 65px 10px 10px 65px;
    margin: 202px 0 0 1289px;
    box-shadow: -2px 0px 5px 4px #216895;
}

.departmentButton{
    float:left;
    border-radius: 50px;
	background-color: transparent;
    margin-right: 21px;
}
.departmentButton>button{
    width: 42px;
    height: 42px;
	background-color: transparent;
    border-radius: 50px;
    border: 1px solid black;
    font-size: 25px;
    outline: none;
    margin-right: 2px;
}
.departmentButton>span{
	font-family:Roboto-Light;
	font-size:18px;
	color:#fffbe3;
    margin-right: 10px;
	margin-bottom:25px !important;
    margin-left: 0px;
}

.labButton {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px 40px;
    margin: 10px;
    outline: none;
}

.butn button {
    background: none;
    box-shadow: none;
    outline: none;
    border: navajowhite;
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 46px;
}

.butn.btnUpPreview {
    outline: none;
    /*width: 77px;
    background: rgba(47, 127, 170,0.9);
    text-align: center;
    margin-bottom: 13px;
    box-shadow: -1px 1px 8px -1px #184258;
    border-radius: 40px 0 0 40px;*/
}

.butn.btnUp {
    /*width: 77px;
    background: rgba(47, 127, 170,0.9);
    text-align: center;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-bottom: 13px;
    outline: none;
    box-shadow: -1px 1px 8px -1px #184258;*/
    margin: 0 10px;
    outline: none;
}

.butn.btnDownPreview {
    outline: none;
    /*width: 77px;
    background: rgba(47, 127, 170,0.9);
    text-align: center;
    margin-bottom: 13px;
    box-shadow: -1px 1px 8px -1px #184258;
    border-radius: 0 40px 40px 0;*/
}


.butn.btnDown {
    /*width: 77px;
    background: rgba(47, 127, 170,0.9);
    text-align: center;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-bottom: 13px;
    outline: none;
    box-shadow: -1px 1px 8px -1px #184258;*/
    outline: none;
}
.butn-position {
    position: absolute;
    right: 42px;
    bottom: 22px;
    padding: 0;
    transform: rotate(90deg);
}

.testFilterPanel {
    padding: 10px;  
    margin-top:0px;
    transition: margin-top ease-in-out .1s;
}
.testsFilterData{position: relative;}

.testButton {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 1px 40px;
    margin: 10px;
    outline: none;
    display: inline-block;
    height: 90px;
	border: 1px solid transparent;
}
.scrollhor ul {
    white-space: nowrap;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}

.scrollhor ul li {
    display: inline-block;
}

.postionrel {
    position: relative;
}
.butn .btnLeft {
   width: 49px;
    height: 72px;
    background: rgba(47, 127, 170,0.9);
    text-align: center;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-top: 0px;
    position: absolute;
    left: 0;
    top: 0px;
    box-shadow: 1px 1px 3px -1px #184258;
    outline: 0;
    opacity: 0.4;
    
}

.butn .btnRight {
    width: 55px;
    height: 70px;
    background: rgba(47, 127, 170,0.9);
    text-align: center;
    border-radius: 40px 15px 15px 40px;
    padding-left: 5px;
    position: absolute;
    right: 0px;
    top: 0px;
    box-shadow: -1px 1px 8px -1px #184258;
    outline: 0;
    opacity: 0.4;
}

.butn .topBtnRight{
    width: 55px;
    height: 88px;
    background: rgba(47, 127, 170,0.9);
    text-align: center;
    border-radius: 40px 15px 15px 40px;
    padding-left: 5px;
    position: absolute;
    right: 0px;
    top: 24px;
    box-shadow: -1px 1px 8px -1px #184258;
    outline: 0;
    opacity: 0.4;
}
.butn>span{
    font-size: 30px;
    color: white;
    padding: 20px 0 15px 0;
}


/* Area, View, position & Medium */

.testButtonArea {
    border-radius: 20px;
    padding: 0px 17px;
    margin: 10px 10px 22px 10px;
    outline: none;
    /* box-shadow: 1px 1px #999; */
    display: inline-block;
    height: 100px;
    background: #FBF8E4;
    border:0;
   
}

.testButtonDiv {
    overflow: hidden; 
    border: 4px solid #4074A6; 
    padding: 5px 0; 
    margin-top: 8px;
}

.testButtonMedium {
   /* padding: 3px 16px;
    margin: 11px;*/
    
    border-radius: 16px;
    padding: 5px 10px;
    margin: 5px 25px 10px 25px;
    outline: none;
    display: inline-block;
    min-width: 143px;
    height: 53px;
    background: #fff;
    border: 0;
}

#imagingSpanDetails {
    font-size: 22px;
    padding: 4px 0px;
	font-family: Roboto-Regular;
	color: #333333;
}

.scrollInside{
      border-width: 2px;
     border-style: solid;
     border-color: #3B85B1;
     border-radius: 19px;
    margin: 10px;
}
.scrollUpside{
    border-width: 2px;
    border-style: solid;
    border-color: #3B85B1;
    height: 130px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-width: 3px;
    border-bottom-color: rgba(11, 166, 239, 0.42);
   /* border-bottom-color: #00ADFF;*/
    margin-bottom: 22px;
}

.angleClass {
    color: #fff;
    font-size: 20px;

}

/*.rotateGlyphicon1 {
    transform: rotate(90deg);
}

.rotateGlyphicon2 {
    transform: rotate(90deg);
}*/
.arrowAreaFirst{
    width: 91px;
    height: 144px;
    position: absolute;
    right: 0;
    top: -13px;
    outline: none;
    opacity: 0.9;
    
    /*width: 60px;
    height: 94px;
    background: rgba(75, 134, 170,0.9);
    text-align: center;
    border-radius: 45px 1px 1px 45px;
    padding-left: 5px;
    position: absolute;
    right: 0px;
    top: 12px;
    box-shadow: -1px 1px 8px -1px #184258;
    outline: 0;
    opacity: 0.9;*/
}
.glyphiconRight{
    color: white;
    font-size: 30px;
    padding-top: 34px;
}
.leftArrowAreaFirst{
    width: 91px;
    height: 144px;
    position: absolute;
    left: 0;
    top: -13px;
    outline: none;
    transform: rotate(180deg);
    opacity: 0.9;
}

/*----Preview Calendar Css--------------------------------------------------------------------------------*/

.calendarPanel {
    height:715px;
    width:600px;
    border-radius:10px;
    padding:10px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#23415c+0,23485c+14,23485c+14,284a69+49,136977+100 */
background: #23415c; /* Old browsers */
background: -moz-linear-gradient(45deg,  #23415c 0%, #23485c 14%, #23485c 14%, #284a69 49%, #136977 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #23415c 0%,#23485c 14%,#23485c 14%,#284a69 49%,#136977 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #23415c 0%,#23485c 14%,#23485c 14%,#284a69 49%,#136977 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23415c', endColorstr='#136977',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.calendarRoomTabContainers{
    height:55px;
}

.calendarRoomTab{
    float:left;
    height:100%;
    padding: 15px 25px;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    color:#6a7783;
    border: 2px solid transparent;
    border-bottom: 2px solid #6488a1;
    outline: 0;
}

.calendarRoomTabActive{
    color:white;
    border: 2px solid #6488a1;
    border-bottom: 2px solid transparent;
}

.dateText{
    font-size: 20px;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid transparent;
    text-align: center;
    padding-top: 10px !important;
}
.busyDate{
    color: #677c8f;
    border: 2px solid #b44841;
}
.selectedDate{
    color: white;
    border: 2px solid #d68b39;
}
.todayDate{
    color: white;
    border: 2px solid #24a2dd;
}
.disabledDate{
    color: #677c8f;
}

/*------Radiology---------*/


.imagingAreaData{
    height: 228px;
    display: flex;
    flex-direction: row;
    padding:10px;
    margin-bottom: 20px;
}

.ImagingAreaDataInside {
        display: flex;
    flex-flow : column wrap;
    border-right:1px solid #378db9;
    
}

.ImagingAreaClass1 {
    background-color:white; 
    border-radius:10px 0 0 10px; 
    width:95%; 
    height:45px; 
    margin: 0 0 15px 10px;
    border: none;
    outline: none;
}

.ImagingAreaClass1>p {
    font-size: 22px;
    padding: 6px 25px;
}

.ImagingAreaClass2 {
    background-color:grey; 
    border-radius:0 10px 10px 0; 
    width:5%; 
    height:45px; 
    margin: 0 10px 15px 0;
    border: none;
    outline: none;
}

.ImagingAreaClass2>span {
    padding: 5px 0 0 5px;
    font-size: 21px;
    color: white;
}




