<div>
  <div class="container-fluid" style="margin:50px 100px 10px 100px; color:#fff; font-size:20px;">
    <!--Table Headers-->
    <div class="row" style="padding:15px 0px 15px 20px">
      <div class="col-xs-3">DEPARTMENT</div>
      <div class="col-xs-5">TEST</div>
      <div class="col-xs-2">APPOINTMENT</div>
      <div class="col-xs-2" ng-if="previewDataForBill.data.imagingOrdered || previewDataForBill.data.toRoom.test">AVAILING TEST AT AIIMS</div>
    </div>
    <!--Table Content-->
    <div style="height:424px; overflow: hidden;" ng-model="marginBillPreview" ng-init="marginBillPreview=0">
      <div style="margin-top:{{marginBillPreview}}px; transition:margin-top ease-in-out .1s;" id="previewId">
        <!--Procedure-->
        <div id="rowdiv" class="row" style="background: rgba(255,255,255,0.1);padding: 15px 0 15px 20px; border-radius: 8px; margin-bottom:3px;" ng-if="previewDataForBill.for=='proc'">
          <div class="col-xs-3">{{departments[previewDataForBill.data.toUnitPreview.deptIndex].unitJ[previewDataForBill.data.toUnitPreview.unitIndex].unitName}}</div>
          <div class="col-xs-5">{{departments[previewDataForBill.data.toUnitPreview.deptIndex].unitJ[previewDataForBill.data.toUnitPreview.unitIndex].clinicJ[previewDataForBill.data.toClinicPreview.clinicIndex].name}}</div>
          <div class="col-xs-2">{{previewDataForBill.data.toClinicPreview.defaultDate|date:"d/M/y"}}</div>
          <div class="col-xs-2" style="text-align:center;"><span class="glyphicon glyphicon-trash" ng-click="removeProc()"></span></div>
        </div>
        <!--Imaging Tests-->
        <div class="row" ng-repeat="x in previewDataForBill.data.imagingRoomToPreview.procedures[0].imagingArea" style="background: rgba(255,255,255,0.1);padding: 15px 0 15px 20px; border-radius: 8px; margin-bottom:3px;" ng-if="previewDataForBill.for=='radiology'">
          <div class="col-xs-3" ng-class="x.active?'':'lineThrough'">{{previewDataForBill.data.imagingTestName}}</div>
          <div class="col-xs-5" ng-class="x.active?'':'lineThrough'">{{getImagingtestName(x)}}</div>
          <div class="col-xs-2" ng-class="x.active?'':'lineThrough'">{{previewDataForBill.data.imagingRoomToPreview.defaultDate|date:"d/M/y"}}</div>
          <div class="col-xs-1" ng-if="!previewDataForBill.data.imagingOrdered" style="text-align:center;"><span class="glyphicon glyphicon-trash" ng-click="removeRadiologyProc($index);"></span></div>
          <!--Avail in AIIMS mechanism-->
          <div class="col-xs-2">
            <div class="billYesButton" ng-if="previewDataForBill.data.imagingOrdered" ng-click="x.active=!x.active;">
              <div ng-class="x.active?'textYes':'textNo'">{{x.active?'YES':'NO'}}</div>
              <div ng-class="x.active?'indicatorYes':'indicatorNo'"></div>
            </div>
          </div>
        </div>
        <!--Tests-->
        <div ng-repeat="t in previewDataForBill.data.toRoom.test" id="rowdiv" class="row" style="background: rgba(255,255,255,0.1);padding: 15px 0 15px 20px; border-radius: 8px; margin-bottom:3px;" ng-if="previewDataForBill.for=='test'">
          <div class="col-xs-3" ng-class="t.active?'':'lineThrough'">{{previewDataForBill.data.toDept}}</div>
          <div class="col-xs-5" ng-class="t.active?'':'lineThrough'">{{t.name}}</div>
          <div class="col-xs-2" ng-class="t.active?'':'lineThrough'">{{previewDataForBill.data.toRoom.defaultDate|date:"d/M/y"}}</div>
          <div class="col-xs-2">
            <!--Avail in AIIMS mechanism-->
            <div class="billYesButton" ng-click="t.active=!t.active;">
              <div ng-class="t.active?'textYes':'textNo'">{{t.active?'YES':'NO'}}</div>
              <div ng-class="t.active?'indicatorYes':'indicatorNo'"></div>
            </div>
          </div>
        </div>
      </div>
      <!--Scroll Arrows-->
      <div style="position:absolute; top:340px; right:30px;"> <img src="../images/leftArrow.png" class="butn btnUp" ng-click="marginBillPreview= marginBillPreview+100" ng-show="marginBillPreview<0"> <img src="../images/rightArrow.png" class="butn btnDown" ng-click="marginBillPreview=marginBillPreview-100;" ng-show="slideDownButtonLimitBill(marginBillPreview)"> </div>
    </div>
  </div>
  <div class="row" style="background-color: rgba(255, 255, 255, 0.1); padding:2px; border-radius:10px; margin-top:30px;"> </div>
  <div class="clearfix"></div>
</div>
<!--Footer-->
<div class="container-fluid" style="border-top:3px solid #669ec0; padding:50px 0; color:#fff; overflow-x:hidden;">
  <div class="row">
    <div class="col-xs-3"> <button type="button" class="backButton" ng-click="goPreview()">BACK</button> </div>
    <div style="text-align:center;" class="col-xs-6"> <img src="images/TCS-bottomLogo1.png" alt="TCS Logo" style="margin-top:10px;"> </div>
    <div class="col-xs-3"> <button type="button" class="NextButton" ng-disabled="disablled">CONFIRM</button> </div>
  </div>
</div>