<!-- main page -->
<!--Module Panels-->
<div class="row viewHeightMain">
  <div class="col-xs-6 col-h-12">
    <div ng-repeat="p in mypanelData[0]" class="{{p.width}} {{p.height}}" style="padding-top: 10px;padding-bottom:10px">
      <div class="row">
        <a ng-click="externalLink(p.route,p.url)">
          <div class="divLabandBill" id="LabBillhover"> <img class="img-responsive {{p.imageHeight}} panelBtnImg" src="{{p.image}}" />
            <p class="panelBtnP">{{p.label}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-h-12">
    <div ng-repeat="p in mypanelData[1]" class="{{p.width}} {{p.height}}" style="padding-top: 10px;padding-bottom:10px">
      <div class="row">
        <a ng-click="externalLink(p.route,p.url)">
          <div class="divLabandBill"> <img class="img-responsive {{p.imageHeight}} panelBtnImg" src="{{p.image}}" />
            <p class="panelBtnP">{{p.label}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!--Footer-->
<div class="footer">
  <div class="container botmimg1"> <img src="images/TCS-bottomLogo1.png" alt="TCS Logo"> </div>
</div>