<div class="row popupfrLogin">
  <div class="popfrloginInputdiv col-md-8">
    <div style="color:#E27805 ;outline:none" ng-click="fillInfo()">
      <h1>ENTER PATIENT DETAILS</h1>
    </div>
    <div>
      <center>
        <!--Error messages Area-->
        <div class="row">
          <p class="center" style="color:Red;font-size:20px;margin-bottom:35px; line-height:5px;"> {{error_msg_english}} </p>
          <p class="center" style="color:Red;font-size:20px;margin-top:35px;line-height:5px;"> {{error_msg_hindi}} </p>
        </div>
      </center>
    </div>
    <!--Input UHID-->
    <input type="text" autocomplete="off" name="patientuhid" id="UHID" class="popupfrLoginInput form-control" placeholder="Enter UHID" maxlength="11" ng-model="patient.uhid" ng-click="updateFocusElement()" ng-focus="focusedElement='LOGIN'; cleanError()" required> 
    <!--Input Mobile-->
    <input type="text" autocomplete="off" name="patientmobile" id="MOB" class="popupfrLoginInput form-control" placeholder="Enter Registered Mobile Number" maxlength="10" ng-model="patient.mobile" ng-click="updateFocusElement()" ng-focus="focusedElement='PASS'; cleanError()" required>
    <div style="padding: 10px 10px;"> <button type="button" class="popupfrbtn" id="bookappointmentData" ng-click="patientLogin1(patient)" style="padding-top:7px;padding-bottom:7px;">OK</button>
      <div class="clearfix"></div>
    </div>
  </div>
  <!--Virtual Keyboard-->
  <div class="col-md-4 virtualkeyboard">
    <div class="key-board">
      <div class="no-box" ng-click="setValue('1')">1</div>
      <div class="no-box" ng-click="setValue('2')">2</div>
      <div class="no-box" ng-click="setValue('3')">3</div>
      <div class="no-box" ng-click="setValue('4')">4</div>
      <div class="no-box" ng-click="setValue('5')">5</div>
      <div class="no-box" ng-click="setValue('6')">6</div>
      <div class="no-box" ng-click="setValue('7')">7</div>
      <div class="no-box" ng-click="setValue('8')">8</div>
      <div class="no-box" ng-click="setValue('9')">9</div>
      <div class="no-box" ng-click="setValue('0')">0</div>
      <div class="no-box-delete" ng-click="clrValue()"> <span class="glyphicon glyphicon-menu-left"></span> </div>
      <div class="no-box-clear" ng-click="clrValueAll()"> <span style="font-size: 26px;">CLR</span></div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>