<div class="container datepickerdemoBasicUsage">
  <!-- Left scroll Arrow--><img src="./images/next-bill-left.png" class="butn-positionfrPreviewLeft" ng-click="marginPreview =marginPreview+380;" ng-show="marginPreview<0">
  <!-- Right scroll Arrow--><img src="./images/next-bill-right.png" class="butn-positionfrPreviewright" ng-click="marginPreview =marginPreview-380;" ng-show="slideDownButtonLimit(marginPreview)">
  <div style="height:540px; overflow:hidden;" ng-model="marginPreview" ng-init="marginPreview=0">
    <div style="margin-left:{{marginPreview}}px; transition:margin-left ease-in-out .1s;width:1140px" id="shanId">
      <div class="previewFlexContainer">
        <!--Test Block-->
        <div class="box" ng-repeat-start="item in previewOrder" ng-if="item.type=='test'" ng-model="dept" ng-init="dept=testList[item.index]" ng-class="{'boxBig':(item.height>6)}">
          <div class="boxInnerContainer">
            <div class="labhead">
              <h3> <span class="dotyellow" style="margin: 5px 10px 0 0"></span> <span style="width:95%;">{{::dept.collecCntrName}}</span> </h3>
            </div>
            <div class="allrooms">
              <div class="labcal" style="background-color:#638FAF; box-shadow:0px 2px 7px -1px #48718d; height:40px; padding-top:4px;" ng-repeat-start="room in dept.rooms">
                <h4 style="width:60%;font-size: 18px; color:white" ng-click="goToBill('test',{'toDept':dept.collecCntrName,'toRoom':room});">{{room.room}}</h4>
                <div class="calendar" style="width:40%;" ng-model="calenderOpen" ng-init="calenderOpen=false"> <span style="font-size: 18px; color:white">
                                        <img src="images/prev2.png" ng-click="room.defaultDate=getPrevDate(room.defaultDate,room.availableDate);">
                                    </span> <span ng-click="calenderOpen=true;calenderDate_click($event)" style="font-size: 18px; color:white">{{room.defaultDate|date:"d-MM-y"}}</span> <span style="font-size: 18px; color:white">
                                        <img src="images/next2.png" ng-click="room.defaultDate=getNextDate(room.defaultDate,room.availableDate);">
                                    </span>
                  <div ng-show="calenderOpen" style="position:fixed;top:0;left:0;height:100%;width:100%;background-color:rgba(255,255,255,0.2);z-index: 9999" ng-click="calenderOpen=false">
                    <div class="arrow-left" style="position:absolute;top:{{calenderPopupPosition.top-50}}px;left:{{calenderPopupPosition.left}}px;" ng-show="!calenderPopupPosition.rightShown"> </div>
                    <div class="arrow-right" style="position:absolute;top:{{calenderPopupPosition.top-50}}px;left:{{calenderPopupPosition.left+600}}px;" ng-show="calenderPopupPosition.rightShown"> </div>
                    <div ng-click="$event.stopPropagation();" class="calendarPanel" style="position:absolute;top:110px;left:{{calenderPopupPosition.left+30}}px">
                      <div class="calendarRoomTabContainers" style="color:#fff" ng-model="activeTab" ng-init="activeTab=0">
                        <div class="calendarRoomTab" ng-class="activeTab==0?'calendarRoomTabActive':''" ng-click="activeTab=0">{{room.room}} </div>
                      </div> <br/>
                      <div style="height:500px;">
                        <calendar-md ng-model='room.defaultDate' available-dates="room.date"></calendar-md>
                      </div>
                      <div class="row" style="color:#fff;margin:15px 0 15px 10px;font-size:19px;">
                        <div class="col-xs-2 padding0"> <span class="calstatusCommon calStatus1"></span> <span>Busy</span> </div>
                        <div class="col-xs-3 padding0"> <span class="calstatusCommon calStatus2"></span> <span>Selected</span> </div>
                        <div class="col-xs-3 padding0"> <span class="calstatusCommon calStatus3"></span> <span>Today</span> </div>
                      </div>
                      <div style="border-top:1px solid #fff;text-align:center;padding-top:15px;"> <a href="" style="color: #fff; font-size:30px; padding:5px 0; text-decoration:none;" ng-click="calenderOpen=false">OK</a> </div>
                      <div class="mainSpinnerDiv" ng-if="waitingCalenderPopup && calenderOpen"> <img class="spinnerImg" src="./images/spinner.gif" /> </div>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-repeat-end class="testInsideRoomContainer">
                <div ng-repeat="test in room.test" ng-if="$index<2" class="testInsideRoom" ng-class="test.active ? '' : 'lineThrough'"> {{::test.name}} </div> <button class="moreInPreview" ng-show="room.test.length>2" ng-click="goToBill('test',{'toDept':dept.collecCntrName,'toRoom':room});">MORE</button>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!--Test Block End-->
        <!--Radiology Test Block-->
        <div class="box" ng-if="item.type=='radiology'" ng-model="radiologyOrder" ng-init="radiologyOrder=radiologyOrderData[item.index]" ng-class="{'boxBig':(item.height>6)}">
          <div class="boxInnerContainer">
            <div class="labhead">
              <h3> <span class="dotgreen" style="margin: 5px 10px 0 0 !important;"></span> <span style="width:95%;">{{::radiologyOrder.imagingType}}</span> <span style="width:5%;" class="close" ng-click="removeRadiologyTests(radiologyOrder.imagingType);removeFromPreviewOrder($index);" ng-show="!radiologyOrder.ordered">&times;</span> </h3>
            </div>
            <div class="allrooms">
              <div class="labcal" ng-repeat-start="room in radiologyOrder.rooms">
                <div class="row" style="padding:6px; background-color:#638FAF; box-shadow: 0px 2px 7px -1px #48718d;">
                  <h4 class="roboto" ng-click="goToBill('radiology',{'imagingTestName':radiologyOrder.imagingType,'imagingRoomToPreview':room,'imagingOrdered':radiologyOrder.ordered});" style="width:60%;font-size: 18px; color:white">{{room.roomNumber}}</h4>
                  <!--+ getRadioActualProcNames(room.procedures)-->
                  <div class="calendar" style="width:40%;" ng-model="calenderOpen" ng-init="calenderOpen=false"> <span style="padding:10px;">
                                        <img src="images/prev2.png" ng-click="room.defaultDate=getPrevDate(room.defaultDate,room.date);">
                                    </span> <span ng-click="calenderOpen=true;calenderDate_click($event)" style="font-size: 18px; color:white">{{room.defaultDate|date:"d-MM-y"}}</span> <span style="padding:8px;">
                                        <img src="images/next2.png" ng-click="room.defaultDate=getNextDate(room.defaultDate,room.date);">
                                    </span>
                    <div ng-show="calenderOpen" style="position:fixed;top:0;left:0;height:100%;width:100%;background-color:rgba(255,255,255,0.2);z-index: 9999" ng-click="calenderOpen=false">
                      <div class="arrow-left" style="position:absolute;top:{{calenderPopupPosition.top-50}}px;left:{{calenderPopupPosition.left}}px;" ng-show="!calenderPopupPosition.rightShown"> </div>
                      <div class="arrow-right" style="position:absolute;top:{{calenderPopupPosition.top-50}}px;left:{{calenderPopupPosition.left+600}}px;" ng-show="calenderPopupPosition.rightShown"> </div>
                      <div ng-click="$event.stopPropagation();" class="calendarPanel" style="position:absolute;top:110px;left:{{calenderPopupPosition.left+30}}px">
                        <div class="calendarRoomTabContainers" style="color:#fff">
                          <div class="calendarRoomTab calendarRoomTabActive">{{room.roomNumber}}
                            <!--+ getRadioActualProcNames(room.procedures)-->
                          </div>
                        </div> <br/>
                        <div style="height:500px;">
                          <calendar-md ng-model='room.defaultDate' available-dates="room.date"></calendar-md>
                        </div>
                        <div class="row" style="color:#fff;margin:15px 0 15px 10px;font-size:19px;">
                          <div class="col-xs-2 padding0"> <span class="calstatusCommon calStatus1"></span> <span>Busy</span> </div>
                          <div class="col-xs-3 padding0"> <span class="calstatusCommon calStatus2"></span> <span>Selected</span> </div>
                          <div class="col-xs-3 padding0"> <span class="calstatusCommon calStatus3"></span> <span>Today</span> </div>
                        </div>
                        <div style="border-top:1px solid #fff;text-align:center;padding-top:15px;"> <a href="" style="color: #fff; font-size:30px; padding:5px 0; text-decoration:none;" ng-click="calenderOpen=false">OK</a> </div>
                        <div class="mainSpinnerDiv" ng-if="waitingCalenderPopup && calenderOpen"> <img class="spinnerImg" src="./images/spinner.gif" /> </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row testInsideRoomContainer">
                  <div>
                    <h4 class="roboto" style="width:100%;font-size: 18px; color:white; padding:0px 10px;">{{departments[p.deptIndex].unitJ[p.unitIndex].clinicJ[c.clinicIndex].name}}</h4>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div ng-repeat-end class="testInsideRoomContainer">
                <div ng-repeat="test in room.procedures[0].imagingArea" ng-if="$index<2" class="testInsideRoom" ng-class="(!test.active && radiologyOrder.ordered  ? 'lineThrough' : '')"> {{::getImagingtestName(test)}} </div> <button ng-show="room.procedures[0].imagingArea.length>2" class="moreInPreview" ng-click="goToBill('radiology',{'imagingTestName':radiologyOrder.imagingType,'imagingRoomToPreview':room,'imagingOrdered':radiologyOrder.ordered});">MORE</button>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <!--Radiology Test Block End-->
        <!--Proc Test Block-->
        <div class="box" ng-if="item.type=='proc'" ng-model="p" ng-init="p=toPreview[item.index]" ng-class="{'boxBig':(item.height>6)}">
          <div class="boxInnerContainer">
            <div class="labhead">
              <h3> <span class="dotgreen" style="margin: 5px 10px 0 0 !important;"></span> <span style="width:95%;">{{::departments[p.deptIndex].unitJ[p.unitIndex].unitName}}</span> <span style="width:5%;" class="close" ng-click="removeDept(p);removeFromPreviewOrder($index)">&times;</span> </h3>
            </div>
            <div class="allrooms">
              <div class="labcal" ng-repeat="c in p.clinics">
                <div class="row" style="padding:6px; background-color:#638FAF; box-shadow: 0px 2px 7px -1px #48718d;">
                  <h4 class="roboto" ng-click="goToBill('proc',{'toUnitPreview':p,'toClinicPreview':c});" style="width:60%;font-size: 18px; color:white">{{departments[p.deptIndex].unitJ[p.unitIndex].clinicJ[c.clinicIndex].roomJ[c.defaultRoom].name}}</h4>
                  <div class="calendar" style="width:40%;" ng-model="calenderOpen" ng-init="calenderOpen=false"> <span style="padding:10px;">
                                        <img src="images/prev2.png" ng-click="c.defaultDate=getPrevDate(c.defaultDate,departments[p.deptIndex].unitJ[p.unitIndex].clinicJ[c.clinicIndex].roomJ[c.defaultRoom].availableDates);">
                                    </span> <span ng-click="calenderOpen=true;calenderDate_click($event)" style="font-size: 18px; color:white">{{c.defaultDate|date:"d-MM-y"}}</span> <span style="padding:8px;">
                                        <img src="images/next2.png" ng-click="c.defaultDate=getNextDate(c.defaultDate,departments[p.deptIndex].unitJ[p.unitIndex].clinicJ[c.clinicIndex].roomJ[c.defaultRoom].availableDates);">
                                    </span>
                    <div ng-show="calenderOpen" style="position:fixed;top:0;left:0;height:100%;width:100%;background-color:rgba(255,255,255,0.2);z-index: 9999" ng-click="calenderOpen=false">
                      <div class="arrow-left" style="position:absolute;top:{{calenderPopupPosition.top-50}}px;left:{{calenderPopupPosition.left}}px;" ng-show="!calenderPopupPosition.rightShown"> </div>
                      <div class="arrow-right" style="position:absolute;top:{{calenderPopupPosition.top-50}}px;left:{{calenderPopupPosition.left+600}}px;" ng-show="calenderPopupPosition.rightShown"> </div>
                      <div ng-click="$event.stopPropagation();" class="calendarPanel" style="position:absolute;top:110px;left:{{calenderPopupPosition.left+30}}px">
                        <div class="calendarRoomTabContainers" style="color:#fff">
                          <div ng-repeat="r in departments[p.deptIndex].unitJ[p.unitIndex].clinicJ[c.clinicIndex].roomJ" class="calendarRoomTab" ng-class="c.defaultRoom==$index?'calendarRoomTabActive':''" ng-click="c.defaultRoom=$index; getRoomAvailableDates(p,c)">{{r.name}} </div>
                        </div> <br/>
                        <div style="height:500px;">
                          <calendar-md ng-model='c.defaultDate' available-dates="departments[p.deptIndex].unitJ[p.unitIndex].clinicJ[c.clinicIndex].roomJ[c.defaultRoom].availableDates"></calendar-md>
                        </div>
                        <div class="row" style="color:#fff;margin:15px 0 15px 10px;font-size:19px;">
                          <div class="col-xs-2 padding0"> <span class="calstatusCommon calStatus1"></span> <span>Busy</span> </div>
                          <div class="col-xs-3 padding0"> <span class="calstatusCommon calStatus2"></span> <span>Selected</span> </div>
                          <div class="col-xs-3 padding0"> <span class="calstatusCommon calStatus3"></span> <span>Today</span> </div>
                        </div>
                        <div style="border-top:1px solid #fff;text-align:center;padding-top:15px;"> <a href="" style="color: #fff; font-size:30px; padding:5px 0; text-decoration:none;" ng-click="calenderOpen=false">OK</a> </div>
                        <div class="mainSpinnerDiv" ng-if="waitingCalenderPopup && calenderOpen"> <img class="spinnerImg" src="./images/spinner.gif" /> </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-repeat-end class="testInsideRoomContainer">
                  <div class="testInsideRoom"> {{::departments[p.deptIndex].unitJ[p.unitIndex].clinicJ[c.clinicIndex].name}} </div>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <!--Proc Test Block End-->
        <!--Lab Test Block-->
        <div class="box" ng-repeat-end ng-if="item.type=='lab'" ng-model="lab" ng-init="lab=labIndexes[item.index]">
          <div class="labhead">
            <h3> <span class="dotyellow" style="margin: 5px 10px 0 0 !important;"></span> <span class="yellowDot" style="width:5%; margin: 5px 10px 0 0 !important;"></span> <span style="width:95%;">{{::MyLab[lab.labDeptIndex].unitJ[lab.labUnitIndex].clinicJ[lab.labClinicIndex].name}}</span> <span style="width:5%;" class="close" ng-click="lab_Click(lab);removeFromPreviewOrder($index)">&times;</span> </h3>
          </div>
          <div class="allrooms">
            <div class="labcal" style="background-color:#638FAF; box-shadow:0px 2px 7px -1px #48718d; height:40px; padding-top:4px;" ng-model="labRoom" ng-init="labRoom=MyLab[lab.labDeptIndex].unitJ[lab.labUnitIndex].clinicJ[lab.labClinicIndex].roomJ[0]">
              <h4 style="width:60%;font-size: 18px; color:white">{{labRoom.name}}</h4>
              <div class="calendar" style="width:40%;" ng-model="calenderOpen" ng-init="calenderOpen=false"> <span style="font-size: 18px; color:white">
                                <img src="images/prev2.png" ng-click="labRoom.defaultDate=getPrevDate(labRoom.defaultDate,labRoom.appointmentDate);">
                            </span> <span ng-click="calenderOpen=true;calenderDate_click($event)" style="font-size: 18px; color:white">{{labRoom.defaultDate|date:"d-MM-y"}}</span> <span style="font-size: 18px; color:white">
                                <img src="images/next2.png" ng-click="labRoom.defaultDate=getNextDate(labRoom.defaultDate,labRoom.appointmentDate);">
                            </span>
                <div ng-show="calenderOpen" style="position:fixed;top:0;left:0;height:100%;width:100%;background-color:rgba(255,255,255,0.2);z-index: 9999" ng-click="calenderOpen=false">
                  <div class="arrow-left" style="position:absolute;top:{{calenderPopupPosition.top-50}}px;left:{{calenderPopupPosition.left}}px;" ng-show="!calenderPopupPosition.rightShown"> </div>
                  <div class="arrow-right" style="position:absolute;top:{{calenderPopupPosition.top-50}}px;left:{{calenderPopupPosition.left+600}}px;" ng-show="calenderPopupPosition.rightShown"> </div>
                  <div ng-click="$event.stopPropagation();" class="calendarPanel" style="position:absolute;top:110px;left:{{calenderPopupPosition.left+30}}px">
                    <div class="calendarRoomTabContainers" style="color:#fff" ng-model="activeTab" ng-init="activeTab=0">
                      <div class="calendarRoomTab" ng-class="activeTab==0?'calendarRoomTabActive':''" ng-click="activeTab=0">{{labRoom.name}} </div>
                    </div> <br/>
                    <div style="height:500px;">
                      <calendar-md ng-model='labRoom.defaultDate' available-dates="labRoom.appointmentDate"></calendar-md>
                    </div>
                    <div class="row" style="color:#fff;margin:15px 0 15px 10px;font-size:19px;">
                      <div class="col-xs-2 padding0"> <span class="calstatusCommon calStatus1"></span> <span>Busy</span> </div>
                      <div class="col-xs-3 padding0"> <span class="calstatusCommon calStatus2"></span> <span>Selected</span> </div>
                      <div class="col-xs-3 padding0"> <span class="calstatusCommon calStatus3"></span> <span>Today</span> </div>
                    </div>
                    <div style="border-top:1px solid #fff;text-align:center;padding-top:15px;"> <a href="" style="color: #fff; font-size:30px; padding:5px 0; text-decoration:none;" ng-click="calenderOpen=false">OK</a> </div>
                    <div class="mainSpinnerDiv" ng-if="waitingCalenderPopup && calenderOpen"> <img class="spinnerImg" src="./images/spinner.gif" /> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!--Test type Indicators-->
  <div class="testProcedDiv">
    <div class="testProced"> <button class="yellowDot"></button> <span>{{alreadyOrdered?'Test':'Lab'}}</span> <button class="greenDot"></button> <span>Procedure</span> </div>
    <div class="clearfix"></div>
  </div> <br> </div>
<!--Footer-->
<div class="container-fluid" style="border-top:3px solid #669ec0; padding:50px 0; color:#fff; overflow:hidden;">
  <div class="row">
    <div class="col-xs-3"> <button type="button" class="backButton" ng-click="goTest()">BACK</button> </div>
    <div style="text-align:center;" class="col-xs-6"> <img src="images/TCS-bottomLogo1.png" alt="TCS Logo" style="margin-top:10px;"> </div>
    <div class="col-xs-3"> <button type="button" class="NextButton" ng-click="confirm()">CONFIRM</button> </div>
  </div>
</div>