<div class="container-fluid textFont">
  <div class="row labandTstProcRow">
    <!--Department Filters-->
    <div class="col-xs-9">
      <div class="labBackgroundColor floatLeft">
        <div ng-repeat="dept in departments" ng-model="dept$index" ng-init="dept$index=$index" style="float:left">
          <div ng-repeat="unit in dept.unitJ" class="departmentButton" style="background-color:{{open?unit.spancolor:'transparent'}};" ng-if="shownDiv=='proc'" ng-show="deptsShownInLimits(dept$index,$index) && checkUnitIfPrevShown(dept$index,unit)"> <button type="button" style="font-family:RobotoCondensed-Regular; background-color: {{open?unit.labButtonColor:'transparent'}}; border-color:{{open?'#fff':unit.bordercolor}};color:{{open?'#fff':unit.bordercolor}}" ng-model="open" ng-init="open=(procFilter.unit.indexOf(unit.id)>-1)" ng-click="hideSpan($index);open=!open;filter_click(unit.id,'unit')">{{unit.unitName.substr(0,2)}}</button> <span id="span{{$index}}" ng-if="open">{{::unit.unitName}}</span> </div>
        </div>
        <div class="departmentButton" style="background-color:{{OthOpen?'#81aec6':'transparent'}};float:left" ng-if="shownDiv=='proc'" ng-show="departments[0].unitJ.length>6"> <button type="button" style="font-family:RobotoCondensed-Regular; background-color:{{OthOpen?'#81aec6':'transparent'}} ; border-color:{{OthOpen?'#fff':'#81aec6'}}; color:{{OthOpen?'#fff':'#81aec6'}}" ng-model="OthOpen" ng-init="OthOpen=(procFilter.unit.indexOf(10000)>-1)" ng-click="hideOthSpan();OthOpen=!OthOpen;filter_click(10000,'unit')">Ot</button> <span id="spanOth" ng-show="OthOpen">Other</span> </div>
        <div ng-repeat="test in testList" class="departmentButton" style="background-color:#BE647E;" ng-if="shownDiv=='test'"> <button type="button" style="font-family:RobotoCondensed-Regular; background-color: #BE647E; border-color:white;" ng-model="open" ng-init="open=false" ng-click="open=!open">{{[test.collecCntrName.substr(0,1)}}</button> <span ng-show="open">{{::test.collecCntrName}}</span> </div>
      </div>
    </div>
    <!--Test type Toggle-->
    <div class="col-xs-3">
      <div class="tstProcToggleExtrnalBgcolor floatRight">
        <div class="tstProcToggleBgcolor" style="font-family:RobotoCondensed-Regular;"> <button type="button" class="tstProcToggle" ng-class="shownDiv == 'test'?'tstProcToggleSelect':'tstProcToggleDeselect'" ng-click="shownDiv='test';marginTop=0;" ng-show="alreadyOrdered">Test</button> <button type="button" class="tstProcToggle" ng-class="shownDiv == 'lab'?'tstProcToggleSelect':'tstProcToggleDeselect'" ng-click="shownDiv='lab';marginTop=0;" ng-hide="alreadyOrdered">Lab</button> <button type="button" class="tstProcToggle" ng-class="shownDiv == 'proc'?'tstProcToggleSelect':'tstProcToggleDeselect'" ng-click="shownDiv='proc';marginTop=0;">Procedure</button> </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!--Alphabatic Filters-->
    <div class="col-xs-1" style="padding-left:0"> <button type="button" class="alphabetsData" ng-repeat="a in MyalphabetsList" ng-click="filter_click(a,'alpha')" ng-class="filter_check(a,'alpha')?'alphabetsDataSelected':''">{{a}}</button> </div>
    <!--Content-->
    <div class="col-xs-10 testsFilterData" id="testsFilterData">
      <div class="testFilterPanel" style="margin-top:{{marginTop}}px">
        <!-- Tests -->
        <div class="widthcal2" ng-show="shownDiv=='test' && showExtra==''"> <button class="testButtonSelected" type="button" ng-repeat="t in testIndexList">
                        <div id="spanTestName" >
                            <span>{{::testList[t.collecCntrNameIndex].rooms[t.roomIndex].test[t.testIndex].name}}</span>
                        </div>
                        <hr style="margin:0; background-color: grey;">
                        <div  id="spanLabName">
                            <span>{{::testList[t.collecCntrNameIndex].collecCntrName}}</span>
                        </div>
                    </button>
          <div class="butn-position"> <img src="./images/leftArrow.png" class="butn btnUp" ng-click="slideDown()"> <img src="./images/rightArrow.png" class="butn btnDown" ng-click="slideUp()"> </div>
        </div>
        <!-- Labs -->
        <div class="widthcal" ng-show="shownDiv=='lab' && showExtra==''"> <button class="labButton" type="button" ng-repeat="lab in labIndexes" ng-class="MyLab[lab.labDeptIndex].unitJ[lab.labUnitIndex].clinicJ[lab.labClinicIndex].sel?'testButtonSelected':''" ng-click="lab_Click(lab)">
                        <div class="row" id="spanTestName">
                            <span>{{::MyLab[lab.labDeptIndex].unitJ[lab.labUnitIndex].clinicJ[lab.labClinicIndex].name}}</span>
                        </div>
                    </button> </div>
        <!-- Procedure -->
        <div class="widthcal2" ng-show="shownDiv=='proc' && showExtra==''"> <button class="testButton" type="button" ng-repeat="p in procRepList | filter:procFilter.func" ng-click="proc_click(p)" ng-class="departments[p.deptIndex].unitJ[p.unitIndex].clinicJ[p.clinicIndex].sel?'testButtonSelected':''">
                        <div class="row" id="spanTestName">
                            <span>{{::departments[p.deptIndex].unitJ[p.unitIndex].clinicJ[p.clinicIndex].name}}</span>
                            
                        </div>
                        <hr style="margin:0">
                        <div class="row" id="spanLabName">
                            <span>{{::departments[p.deptIndex].unitJ[p.unitIndex].unitName}}</span>
                        </div>
                    </button>
          <div class="butn-position"> <img src="./images/leftArrow.png" class="butn btnUp" ng-click="slideDown()"> <img src="./images/rightArrow.png" class="butn btnDown" ng-click="slideUp()"> </div>
        </div>
        <!-- Imaging Test -->
        <div class="widthcal2" ng-show="shownDiv!='' && showExtra=='imagingTests'"> <button class="testButton" type="button" ng-repeat="p in radiologyAreaList | filter:radiologyFilter" ng-click="p.sel=!p.sel" ng-class="p.sel?'testButtonSelected':''">
                        <div class="row" id="spanTestName">
                            <span>{{::radiologyDepartments.testj[p.T].imageAreaJ[p.area].name}}</span>
                        </div>
                        <hr style="margin:0">
                        <div class="row" id="spanLabName">
                            <span>{{::radiologyDepartments.testj[p.T].testName}}</span>
                        </div>
                    </button>
          <div class="butn-position"> <img src="./images/leftArrow.png" class="butn btnUp" ng-click="slideDown()"> <img src="./images/rightArrow.png" class="butn btnDown" ng-click="slideUp()"> </div>
        </div>
        <!-- Imaging Test Areas -->
        <div class="widthcal " ng-show="shownDiv!='' && showExtra=='imagingTestDetails'">
          <div class="postionrel" ng-model="scrollAtArea" ng-init="scrollAtArea=0">
            <div class="scrollhor" style="">
              <div class="scrollUpside" id="areaVerticleList" style="margin-left:{{scrollAtArea}}px; transition:margin-left ease-in-out .1s; white-space: nowrap;"> <button class="testButtonArea" type="button" ng-repeat="p in radiologyAreaList" ng-click="area_click(p)" ng-class="(areaDetailToShow.T==p.T&&areaDetailToShow.area==p.area)?'testButtonSelected':''" ng-if="p.sel">
                                <div class="row" id="spanTestName">
                                    <span>{{::radiologyDepartments.testj[p.T].imageAreaJ[p.area].name}}</span>
                                </div>
                                <hr style="margin:0">
                                <div class="row" id="spanLabName">
                                    <span>{{::radiologyDepartments.testj[p.T].testName}}</span>
                                </div>
                                
                            </button>
                <div class="butn"> <img src="./images/next-bill.png" class="leftArrowAreaFirst" ng-click="scrollAtArea=scrollAtArea+250" ng-show="scrollAtArea<0"> <img src="./images/next-bill.png" class="arrowAreaFirst" ng-click="scrollAtArea=scrollAtArea-250" ng-show="isScrollUpperBound('areaVerticleList',scrollAtArea)"> </div>
              </div>
            </div>
          </div>
          <div class="imagingAreaData">
            <div class="ImagingAreaDataInside" style="width:{{ImagingAreaDataCalc(radiologyDepartments.testj[areaDetailToShow.T].imageAreaJ[areaDetailToShow.area].imageMediumJ.length)}}%"> <button class="testButtonMedium" type="button" ng-repeat="p in radiologyDepartments.testj[areaDetailToShow.T].imageAreaJ[areaDetailToShow.area].imageMediumJ" ng-click="radiologyAreaList[areaDetailToShow.selfIndex].details.medium=p" ng-class="radiologyAreaList[areaDetailToShow.selfIndex].details.medium.id==p.id?'testButtonSelected':''">
                                    
                                        <span id="imagingSpanDetails">{{::p.name}}</span>
                                    
                            </button> </div>
            <div class="ImagingAreaDataInside" style="width:{{ImagingAreaDataCalc(radiologyDepartments.testj[areaDetailToShow.T].imageAreaJ[areaDetailToShow.area].imageTypeJ.length)}}%"> <button class="testButtonMedium" type="button" ng-repeat="p in radiologyDepartments.testj[areaDetailToShow.T].imageAreaJ[areaDetailToShow.area].imageTypeJ" ng-click="radiologyAreaList[areaDetailToShow.selfIndex].details.type=p" ng-class="radiologyAreaList[areaDetailToShow.selfIndex].details.type.id==p.id?'testButtonSelected':''">
                                    
                                        <span id="imagingSpanDetails">{{::p.name}}</span>
                                    
                            </button> </div>
            <div class="ImagingAreaDataInside" style="width:{{ImagingAreaDataCalc(radiologyDepartments.testj[areaDetailToShow.T].imageAreaJ[areaDetailToShow.area].imageViewJ.length)}}%"> <button class="testButtonMedium" type="button" ng-repeat="p in radiologyDepartments.testj[areaDetailToShow.T].imageAreaJ[areaDetailToShow.area].imageViewJ" ng-click="radiologyAreaList[areaDetailToShow.selfIndex].details.view=p" ng-class="radiologyAreaList[areaDetailToShow.selfIndex].details.view.id==p.id?'testButtonSelected':''">
                                        
                                            <span id="imagingSpanDetails">{{::p.name}}</span>
                                        
                            </button> </div>
            <div class="ImagingAreaDataInside" style="border-right:none; width:{{ImagingAreaDataCalc(radiologyDepartments.testj[areaDetailToShow.T].imageAreaJ[areaDetailToShow.area].imagePositionJ.length)}}%"> <button class="testButtonMedium" type="button" ng-repeat="p in radiologyDepartments.testj[areaDetailToShow.T].imageAreaJ[areaDetailToShow.area].imagePositionJ" ng-click="radiologyAreaList[areaDetailToShow.selfIndex].details.position=p" ng-class="radiologyAreaList[areaDetailToShow.selfIndex].details.position.id==p.id?'testButtonSelected':''">
                                        
                                            <span id="imagingSpanDetails">{{::p.name}}</span>

                            </button> </div>
          </div>
          <div style="display:flex;">
            <div class="ImagingAreaClass1">
              <p>{{getImagingTestName(radiologyAreaList[areaDetailToShow.selfIndex].details)}}</p>
            </div> <button class="ImagingAreaClass2" style="background-color:#15B7FF" ng-click="getImagingTestNameAdd(radiologyAreaList[areaDetailToShow.selfIndex].details)">
                            <span class="glyphicon glyphicon-plus" style="color:white;"></span>
                        </button> </div>
          <div style="display: flex;" ng-show="radiologyAreaList[areaDetailToShow.selfIndex].selectedDetails.length>0">
            <div class="ImagingAreaClass1">
              <p>{{getImagingTestName(radiologyAreaList[areaDetailToShow.selfIndex].selectedDetails[radiologyAreaList[areaDetailToShow.selfIndex].selectedDetails.length-1])}}</p>
            </div> <button class="ImagingAreaClass2" ng-click="getImagingTestNameBlank()">
                            <span class="glyphicon glyphicon-remove" style="color:white;">
                                
                            </span>
                        </button> </div>
        </div>
      </div>
    </div>
    <!-- Numeric Filters -->
    <div class="col-xs-1" style="padding-right:0"> <button type="button" class="numbersData" ng-repeat="n in MynumbersList" ng-click="filter_click(n,'number')" ng-class="filter_check(n, 'number')?'numbersDataSelected':''">{{n}}</button> </div>
  </div>
  <!-- Footer -->
  <div class="row bootomDiv"> <button type="button" class="backButton" ng-click="goBack()">BACK</button> <img src="images/TCS-bottomLogo1.png" alt="TCS Logo" style="margin-top:10px;"> <button type="button" class="NextButton" ng-click="goNext()" ng-disabled="!isAnyTestPropSelected()">{{doneable()?'DONE':'NEXT'}}</button> </div>
</div>